<div id="main" style="font-family: 'Source Sans Pro',sans-serif;
                        color:white;
                        font-weight: 300;
                        background: #50a3a2;
                        background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
                        background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
                        opacity: 0.8;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;">
    <form method="post" style="top: 5%; position: relative" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 5%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 40%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px; right: 56%; position: absolute;">活动名称：</label>
            <label class="vTextField" id="id_Name" maxlength="30" name="name" type="text" value="{{ name }}"
                   style="left: 10%;position: relative;font-size: 20px;height: 100%; width: 50%">{{ name }}</label>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 5%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 40%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px; right: 56%; position: absolute;">活动地点：</label>
            <label class="vTextField" id="id_Organnizer" maxlength="100" name="place" type="text" value="{{ place }}"
                   style="left: 10%;position: relative;font-size: 20px;height: 100%; width: 50%">{{ place }}</label>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 5%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 40%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px; right: 56%; position: absolute;">活动详情：</label>
            <label class="vTextField" id="id_Description" maxlength="100" name="description" type="text"
                   value="{{ description }}" style="left: 10%;position: relative;font-size: 20px;height: 100%; width: 50%">{{ description }}</label>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 5%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 40%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px; right: 56%; position: absolute;">活动图片：</label>
            <label accept="image/*" class="vTextField" id="id_PirUrl" name="picUrl" type="file" value="{{ picUrl }}"
                   style="left: 10%;position: relative;font-size: 20px;height: 100%; width: 50%">{{ picUrl }}</label>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 5%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 40%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px; right: 56%; position: absolute;">弹幕墙背景图片：</label>
            <label accept="image/*" class="vTextField" id="id_BgPicUrl" name="bgPicUrl" type="file"
                   value="{{ bgPicUrl }}" style="left: 10%;position: relative;font-size: 20px;height: 100%; width: 50%">{{ bgPicUrl }}</label>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 5%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 40%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px; right: 56%; position: absolute;">开始时间：</label>
            <label class="vTextField" id="id_Description" maxlength="100" name="startTime" type="datetime-local"
                   value="{{ startTime }}" style="left: 10%;position: relative;font-size: 20px;height: 100%; width: 50%">{{ startTime }}</label>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 5%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 40%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px; right: 56%; position: absolute;">结束时间：</label>
            <label class="vTextField" id="id_Description" maxlength="100" name="endTime" type="datetime-local"
                   value="{{ endTime }}" style="left: 10%;position: relative;font-size: 20px;height: 100%; width: 50%">{{ endTime }}</label>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 4%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 30%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px; ">状态：</label>
            <label name="Statue" style="font-size: 20px">
                {% if status == 0 %}
                    准备
                {% endif %}
                {% if status == 1 %}
                    进行
                {% endif %}
                {% if status == 2 %}
                    结束
                {% endif %}
            </label>
        </div>
    </form>
</div>