<div id="main" style="font-family: 'Source Sans Pro',sans-serif;
                        color:white;
                        font-weight: 300;
                        background: #50a3a2;
                        background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
                        background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
                        opacity: 0.8;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;">
    <form method="post" style="top: 5%; position: relative">
        {% csrf_token %}
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 15%;
                    height: 8%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px">活动ID：</label>
            <input class="vIntegerField" name="ActivityID" type="text" value="{{ ActivityID }}" style="font-size: 20px; float:left; width: 100%" />
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 8%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 15%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px">ID：</label>
            <input class="vIntegerField" name="IDs" type="text" value="{{ IDs }}" style="font-size: 20px; float:left; width: 100%"  />
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 8%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 15%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px">活动名称：</label>
            <input class="vTextField" id="id_Name" maxlength="30" name="Name" type="text" value="{{ Name }}" style="font-size: 20px; float:left; width: 100%"/>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 8%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 15%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px">活动详情：</label>
            <input class="vTextField" id="id_Description" maxlength="100" name="Description" type="text" value="{{ Description }}" style="font-size: 20px; float:left; width: 100%"/>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 8%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 15%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px">一等奖：</label>
            <input class="vIntegerField" id="id_First" name="First" type="text" value="{{ First }}" style="font-size: 20px; float:left; width: 100%"/>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 8%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 15%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px">二等奖：</label>
            <input class="vIntegerField" id="id_Second" name="Second" type="text" value="{{ Second }}" style="font-size: 20px; float:left; width: 100%"/>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 8%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 15%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px">三等奖：</label>
            <input class="vIntegerField" id="id_Third" name="Third" type="text" value="{{ Third }}" style="font-size: 20px; float:left; width: 100%"/>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 8%;
                    border-radius: 3px;
                    margin: 0 auto 10px auto;
                    width: 15%;
                    display: block;
                    text-align: center;
                    color: black;
                    font-weight: 300;">
            <label style="font-size: 20px">特等奖：</label>
            <input class="vIntegerField" id="id_Special" name="Special" type="text" value="{{ Special }}" style="font-size: 20px; float:left; width: 100%"/>
        </div>
        <div style="border: 1px solid rgba(255, 255, 255, 0.4);
                    background-color: rgba(255, 255, 255, 0.2);
                    margin:0px 42.5% 0px 42.5%;
                    border: 0;
                    color: #53e3a6;
                    border-radius: 3px;
                    width: 15%;
                    cursor: pointer;
                    -webkit-transition-duration: 0.25s;
                    transition-duration: 0.25s;">
            <input type="submit" value="创建" style="position: relative; left: 10%; font-size: 20px; height: 30px; width: 20%" name="create">
            <input type="submit" value="返回" style="position: relative; left: 45%; font-size: 20px; height: 30px; width: 20%" name="return">
        </div>
    </form>
</div>