<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/m/css/styles.css">
<body>
    <img src="/m/img/{{ value }}" style="width:100%; height:100%">
    <div class="app" id="app">
        <div id="tt">
            <p id = "contents"></p>
        </div>
        <div id="Tc">
            <div id="tc">

            </div>
        </div>
    </div>
        <!--<div id="input">
            <form method="post">{% csrf_token %}
            <input type="text" id="text" v-model="newPerson.content" placeholder="">
            <input type="submit" id="createPerson" @click="createPerson" name="top">
            <input type="submit" id="danmu" @click="danmu" >
            <input type="submit" id="picture" @click="picture" >
            </form>
        </div>-->

    <!--<form action="/add/" method="get">
        a: <input type="text" id="a" name="a"> <br>
        b: <input type="text" id="b" name="b"> <br>
        <p>result: <span id='result'></span></p>
        <p>result: <span id='result2'></span></p>
        <p>result: <span id='result3'></span></p>
        <button type="button" id='sum'>提交</button>
    </form>-->
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/m/js/vue.js"></script>
    <script src="/m/js/vue-resource.common.js"></script>

    <script>
        let timer = null;
        let timer2 = null;
        let linenumber = 5;
        let aaaa = 0;
        let pic = [];

        $(document).ready(function(){
            function refresh() {
                var a = $("#a").val();
                var b = $("#b").val();

                $.get("/b/Line/", {}, function (ret) {
                    linenumber = ret['linenumber']
                });

                $.get("/b/Top/", {}, function (ret) {
                    let contents = document.getElementById("contents");
                    contents.innerHTML = ret[0]["content"];
                    if (ret[0].hasOwnProperty("content")){
                        document.getElementById("tt").style.display = "block";
                    }
                    else{
                        document.getElementById("tt").style.display = "none";
                    }
                    color = parseInt(ret[0]["color"]);
                    color = color.toString(16);
                    color = "#" + color;
                    contents.style.color = color;
                    if (ret[0]["bolt"] == true) {
                        contents.style.fontWeight = "900";
                    }
                    if (ret[0]["incline"] == true) {
                        contents.style.fontStyle = "italic";
                    }
                    if (ret[0]["underline"] == true) {
                        contents.style.textDecoration = "underline";
                    }
                });

                $.get("/b/Pic/", {}, function (ret) {
                    for (let i = ret.length - 1; i >= 0; i--){
                        let newarr = [];
                        clearInterval(timer2);
                        let newnode = document.createElement("img");
                        let num = parseInt((Math.random() * 10) % linenumber);
                        let num2 = parseInt((document.getElementById("Tc").offsetHeight) / linenumber);
                        newnode.style.top = (num * num2) + "px";
                        newnode.style.height = num2 + "px";
                        newnode.style.left = "100%";
                        res = ret[i]["picUrl"].slice(2);
                        newnode.src ="/m/img/" + res;
                        newnode.style.position = "absolute";
                        document.getElementById("tc").appendChild(newnode);
                        pic.push(newnode.offsetLeft);
                        timer2 = setInterval(move2, 0.05);
                    }
                });

                $.get("/b/Barrier/", {}, function (ret) {
                    for (let i = ret.length - 1; i >= 0; i--){
                        let newarr = [];
                        clearInterval(timer);
                        let newnode = document.createElement("div");
                        //newnode.setAttribute("id", "danmu")
                        newnode.innerHTML = ret[i]["content"];
                        let num = parseInt((Math.random() * 10) % linenumber);
                        let num2 = parseInt((document.getElementById("Tc").offsetHeight) / linenumber);
                        newnode.style.top = (num * num2) + "px";
                        newnode.style.height = num2 + "px";
                        newnode.style.textAlign = "center";
                        newnode.style.fontSize = num2 + "px";
                        newnode.style.lineHeight = "100%";
                        newnode.style.left = "100%";
                        newnode.style.display = "flex";
                        if (ret[i]["bolt"] == true) {
                            newnode.style.fontWeight = "900";
                        }
                        if (ret[i]["incline"] == true) {
                            newnode.style.fontStyle = "italic";
                        }
                        if (ret[i]["underline"] == true) {
                            newnode.style.textDecoration = "underline";
                        }
                        newnode.style.background = "#" + randomColor();
                        newnode.style.position = "absolute";
                        color = parseInt(ret[i]["color"]);
                        color = color.toString(16);
                        color = "#" + color;
                        newnode.style.color = color;
                        document.getElementById("tc").appendChild(newnode);
                        pic.push(newnode.offsetLeft);
                        timer = setInterval(move, 0.05);
                    }
                });

                function move2() {
                    let arr = document.getElementById("tc").getElementsByTagName("img");
                    for (let i = 0; i < arr.length; i++)
                    {
                        pic[i] = pic[i] - 1;
                        arr[i].style.left = pic[i] + "px";
                        if (pic[i] < -arr[i]. offsetWidth){
                            document.getElementById("tc").removeChild(arr[i]);
                            pic.shift();
                        }
                    }
                }

                function move() {
                    let arr = document.getElementById("tc").getElementsByTagName("div");
                    for (let i = 0; i < arr.length; i++)
                    {
                        let num2 = (((document.getElementById("tc").offsetWidth) + (2 * arr[i].offsetWidth)) / 2000);
                        if (num2 <= 1)
                            num2 = 1;
                        let num = arr[i].offsetLeft - num2;
                        arr[i].style.left = num + "px";
                        if (num < -arr[i].offsetWidth) {
                            document.getElementById("tc").removeChild(arr[i]);
                        }
                    }
                }
                
                function randomColor() {
                    let color = Math.ceil(Math.random() * 16777215).toString(16);
                    while (color.length < 6) {
                        color = "0" + color;
                    }
                    return color;
                }
            }

            setInterval(refresh, 300)
        });
    </script>
</body>
</html>

